<main>
    <section class='hero'>
        <div class="slides">
           <% products.forEach((product, index)=>{ %>
            <div class="slide <%=index === 0 ? 'active' : ''%>" data-slide="<%= index + 1 %>">
                <img src="images/1.jpg" alt="">
                <div class="content-container">
                    <div class="container">
                        <div class="content">
                            <div class="circles">
                                <%
                                    products.forEach((circle, circleIndex)=>{
                                        %>
                                            <span class="circle <%= circleIndex === 0 ? 'active' : ''%>" data-dot='<%= circleIndex + 1 %>'></span>
                                        <%
                                    }) 
                                %>
                            </div>
                            <h2 class='title'>
                                <%= product.name %>
                            </h2>
                        </div>
                        <div class="shop-description">
                            <p class="description"><%= product.description%></p>
                            <a href="/products/<%=product.id%>" class='btn'>shop now</a>
                        </div>
                    </div>
                </div>
            </div>
          <% })%> 
        </div>
    </section>
    <section class='product d-flex'>
        <article>
            <a href="/product/">
                <img src="/images/1.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
        <article>
            <a href="/product/">
                <img src="/images/2.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
        <article>
            <a href="/product/">
                <img src="/images/1.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
        <article>
            <a href="/product/">
                <img src="/images/2.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
        <article>
            <a href="/product/">
                <img src="/images/1.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
        <article>
            <a href="/product/">
                <img src="/images/2.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
        <article>
            <a href="/product/">
                <img src="/images/1.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
        <article>
            <a href="/product/">
                <img src="/images/2.jpg" alt="contunium nicke">
                <div class="content">
                    <h3 class="title">contunium nicke</h3>
                    <span class="price">$133</span>
                    <span class="shop-link">shop now</span>
                </div>
            </a>
        </article>
    </section>
</main>
