<main>
    <div class="shop-container">
        
            <div class="categories">
                <div class="container">
                    <p class='shop-by'><span>shop by</span> category</p>
                    <ul class='categories-links'>
                        <% 
                            categories.forEach(categorie =>{
                                %>
                                    <li class="category-box">
                                        <a href="#">
                                            <span><%=categorie.name%></span>
                                            <img src="/images/shortSkirts/2e5d86088477e647e3d5e4882774f493.jpg" alt="short skirt">
                                        </a>
                                    </li>
                                <%
                            })
                        %>
                    </ul>
                </div>
            </div>
            <section class='product d-flex'>
                <% if (products.length> 0){products.forEach((product, index)=>{
                    %>
                    <% categories.forEach(categorie=>{
                        if(categorie.id == product.categorieId) {
                        %>
                            
                        <article class="<%=categorie.name && categorie.name%>">
                        
                        <% } }) %>
                        <a href="/products/<%=product.id%>">
                            <img src="/images/<%=product.coverImage%>" alt="<%=product.name%>">
                            <div class="content">
                                <h3 class="title">
                                    
                                </h3>
                                <span class="price">$<%=product.price%></span>
                                <span class="shop-link">shop now</span>
                            </div>
                        </a>
                        <p class='product-title'>
                            <%=product.name.length> 40 ? product.name.substr(0,40) + ' ...' : product.name %>
                        </p>
                    </article>
                    
                    <% }) } 
                %>

            </section>
        
    </div>
</main>