<div class="orders-container">
    <div class="container">
        <div class="card-orders">
            <% 
                orders.forEach(order=>{
                    products.forEach(product=>{
                        if(product.id == order.id){
                            %>
                                <div class="card-order">
                                    <div class="order-image">
                                        <img src='/images/<%= product.coverImage%>' alt='<%=product.name%>'>
                                    </div>
                                    <div class="order-info">
                                        <h4 class='product-name'>
                                            <%=product.name%>
                                        </h4>
                                        <p>
                                            <%=product.description%>
                                        </p>
                                        <span>
                                            <%=product.dateAdded.toDateString()%>
                                        </span>
                                        <span>made in usa</span>
                                        <span>$<%=product.price%></span>
                                    </div>
                                    <div class="order-cancel" title="remove order">
                                        <span class='remove'></span>
                                    </div>
                                </div>
                            <% 
                        } 
                    }) 
                }) 
            %>
        </div>
        <div class="shpping">
            <h3>shipping info</h3>
            <h3>shipping info</h3>
            <h3>shipping info</h3>
            <h3>shipping info</h3>
        </div>
    </div>
</div>

